.text-white{color:white}.flex-between{display:flex;justify-content:space-between;align-items:center;flex-wrap:nowrap}.pos-bot-right{display:flex;align-items:flex-end;justify-content:flex-end;flex-direction:column}.pos-bot-left{display:flex;align-items:flex-start;justify-content:flex-end;flex-direction:column}.pos-center{display:flex;align-items:center;justify-content:center;flex-direction:column}.with-underline{border-bottom:2px solid white;padding-bottom:5px;margin-bottom:5px}.with-topline{border-top:2px solid white;padding-top:5px;margin-top:-5px}.mb50{margin-bottom:50px}@media only screen and (min-width: 320px) and (max-width: 768px){.flex-wrap-mobile{flex-wrap:wrap}}.container{height:100%;max-width:960px;margin:0 auto;padding:0;position:relative}@media only screen and (min-width: 320px) and (max-width: 768px){.container{padding:0 15px}}@media only screen and (min-width: 425px) and (max-width: 768px){.container{padding:0 30px}}.header-top{display:block;background-image:url(https://static.ladipage.net/s1440x1000/uploads/images/8cbce36b-dec8-4455-833b-9bfdc5e98b17.jpg);background-color:rgba(255,255,255,0);background-origin:content-box;background-size:cover;background-attachment:scroll;background-position:top center;background-repeat:no-repeat}.header-top .navbar{top:25px}.header-top .navbar-nav .icon-header{width:24px;height:24px;margin-left:10px}.header-top .spot-light-box{margin:0 auto;padding:130px 0}.header-top .spot-light-box .inner-box{background-color:rgba(189,189,189,0.02);font-family:'Open Sans',sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#000;border-width:8px;border-style:solid;border-color:#fff;max-width:420.5px;height:523px;display:flex;flex-direction:column;justify-content:space-around;align-items:center;margin:0 auto}.header-top .spot-light-box .inner-box .big{font-family:'Open Sans',sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#fff;font-weight:700;line-height:80px;letter-spacing:1px;font-size:76px;text-align:center}@media only screen and (min-width: 320px) and (max-width: 768px){.header-top .spot-light-box .inner-box .big{font-size:56px;line-height:64px}}.header-top .spot-light-box .inner-box .small{font-size:24px;text-align:center;font-weight:400;line-height:28px;margin:0}.featured .block{position:relative;width:299px;height:387px;cursor:pointer}@media only screen and (min-width: 320px) and (max-width: 768px){.featured .block{width:100%;height:450px;margin-bottom:15px}.featured .block.auto-at-mobile{display:initial;height:auto}}.featured .block.sub{height:180px}@media only screen and (min-width: 320px) and (max-width: 768px){.featured .block.sub{height:450px}}.featured .block .thumb{position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1}.featured .block .thumb:after{content:'';width:100%;height:100%;background:#00000061;z-index:1;position:absolute;top:0;left:0}.featured .block .thumb img{width:100%;-o-object-fit:cover;object-fit:cover;height:100%}.featured .block .content{padding:20px;height:100%;width:100%}.featured .block .content .heading{color:#fff;font-weight:700;line-height:32px;font-size:28px}.featured .block .content .subheading{font-family:'Open Sans';text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#fff;font-weight:700;line-height:18px;letter-spacing:3px;font-size:14px}.product-grid .container{border-top:2px solid}.product-grid .container>.title{text-align:center;margin-top:-18px;display:flex;flex-direction:column;justify-content:center;align-items:center;margin-bottom:40px}.product-grid .container>.title .heading{color:#665f5f;font-weight:700;line-height:34px;font-size:30px;background:#FFF;padding:0 5px}.product-grid .container>.title .subheading{color:#000;font-weight:300;line-height:20px;font-size:16px}@media only screen and (min-width: 320px) and (max-width: 768px){.product-grid .container .content{flex-wrap:wrap}}.product-grid .grid-item{width:223px;height:350px}@media only screen and (min-width: 320px) and (max-width: 768px){.product-grid .grid-item{width:100%;height:auto;margin-bottom:45px}}@media only screen and (min-width: 425px) and (max-width: 768px){.product-grid .grid-item{width:48%;height:auto;margin-bottom:45px}}.product-grid .grid-item .thumb{margin-bottom:10px;position:relative}.product-grid .grid-item .thumb img{width:100%;-o-object-fit:cover;object-fit:cover;height:100%}.product-grid .grid-item .thumb:after{content:attr(data-label);position:absolute;top:-15px;left:10px;background-color:#ff710a;border-radius:2px;color:#000;box-shadow:3px 3px 2px rgba(64,64,64,0.15);padding:20px 5px;font-size:12px;text-align:center;color:#fff;font-weight:300;line-height:16px}.product-grid .grid-item .title{font-family:'Open Sans';text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#665f5f;font-weight:400;line-height:19px;font-size:15px;text-align:left;margin-bottom:5px}.product-grid .grid-item .info{display:flex;flex-wrap:nowrap;justify-content:space-between}.product-grid .grid-item .info .price{font-family:'Open Sans';text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#665f5f;font-weight:700;line-height:19px;font-size:15px;text-align:left}.product-grid .grid-item .info .rating svg{width:20px;height:20px;margin-left:-5px}.something-strong{background-color:rgba(196,190,190,0.21);padding:50px 0}@media only screen and (min-width: 320px) and (max-width: 768px){.something-strong .content{flex-wrap:wrap;justify-content:center;align-items:center}}@media only screen and (min-width: 320px) and (max-width: 768px){.something-strong .content{justify-content:space-between}}.something-strong .grid-item{display:flex;align-items:center}@media only screen and (min-width: 320px) and (max-width: 768px){.something-strong .grid-item{width:100%;justify-content:space-evenly}}@media only screen and (min-width: 320px) and (max-width: 768px){.something-strong .grid-item{width:45%;justify-content:space-evenly}}.something-strong .grid-item .thumb{width:76px;height:76px}.something-strong .grid-item .info{margin-left:5px}.something-strong .grid-item .info .title{color:#212121;font-weight:700;line-height:20px;font-size:16px;margin-bottom:5px}.something-strong .grid-item .info .des{color:#212121;line-height:17px;font-size:13px}.partner .container{border-top:1px solid #ccc;padding:50px 0}@media only screen and (min-width: 320px) and (max-width: 768px){.partner .content{flex-wrap:wrap;justify-content:center;align-items:center}}.partner .grid-item{width:16.67%}@media only screen and (min-width: 320px) and (max-width: 768px){.partner .grid-item{width:100%;justify-content:space-evenly;padding:0 0 25px}}.partner .grid-item .thumb{padding:0 25px}@media only screen and (min-width: 320px) and (max-width: 768px){.partner .grid-item .thumb{max-width:200px;margin:0 auto}}.partner .grid-item .thumb img{width:100%;-o-object-fit:cover;object-fit:cover;height:100%}.contact{background-color:rgba(196,190,190,0.21);padding:50px 0}@media only screen and (min-width: 320px) and (max-width: 768px){.contact .content{flex-wrap:wrap;justify-content:center;align-items:center}}.contact .grid-item{flex-basis:50%}@media only screen and (min-width: 320px) and (max-width: 768px){.contact .grid-item{flex-basis:100%;justify-content:space-evenly}}@media only screen and (min-width: 320px) and (max-width: 768px){.contact .grid-item.heading{text-align:center}}.contact .grid-item.heading .title{color:#665f5f;font-weight:300;line-height:34px;font-size:30px}.contact .grid-item.heading .des{color:#665f5f;font-weight:300;font-style:italic;line-height:14px;font-size:14px}.contact .grid-item.action-wrapper{display:flex;align-items:center;justify-content:flex-end}.contact .grid-item.action-wrapper .hotline .title{color:#665f5f;font-weight:400;line-height:20px;font-size:16px;margin-bottom:5px}.contact .grid-item.action-wrapper .hotline .number{color:#665f5f;font-weight:400;line-height:28px;font-size:24px}@media only screen and (min-width: 320px) and (max-width: 768px){.contact .grid-item.action-wrapper .hotline .number{font-size:18px}}.contact .grid-item.action-wrapper .hotline .number svg{width:24px;height:24px;fill:#665f5f}@media only screen and (min-width: 320px) and (max-width: 768px){.contact .grid-item.action-wrapper .hotline .number svg{width:18px;height:18px}}.contact .grid-item.action-wrapper .action{margin-left:30px}.contact .grid-item.action-wrapper .action button{background-color:rgba(255,255,255,0.05);opacity:1;font-family:'Open Sans';text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;color:#665f5f;font-weight:700;line-height:22px;font-size:14px;padding:10px 25px;border-radius:5px;border-width:2px;border-style:solid;border-color:#878787}
.navbar-brand img{
    max-width: 150px;
}
.header-top .spot-light-box .inner-box{
    color: #FFF;
}
.icon-header a{
    color : #FFF;
}
.footer #chat-social {
    box-sizing: border-box;
    -webkit-font-smoothing: auto!important;
    margin-top: -25px;
    /* top: 50%; */
    right: 15px;
    position: fixed!important;
    z-index: 99800;
    /* margin-top: 116px; */
    overflow: visible!important;
    -webkit-transition: .3s;
    transition: .3s;
    right: 19px;
    bottom: 14px;
}
#chat-social .widget-tooltip {
    margin-bottom: 8px;
    /*margin-bottom: 1px;*/
    padding: 0 3px;
    position: relative;
}
#chat-social .widget-tooltip a {
    width: 45pt;
    /* padding: 18px; */
    background-repeat: no-repeat;
    height: 45pt;
    line-height: 49px;
    display: inline-block!important;
    border: none!important;
    font-size: 18px!important;
    color: #fff!important;
    text-align: center!important;
    position: relative;
    border-radius: 50%!important;
    cursor: pointer!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
    background-size: cover;
}
#chat-social .widget-tooltip .autoAdsMaxLead_button_tap {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    border-radius: 100%!important;
    background-color: rgba(255,255,255,.6);
}
#chat-social .widget-tooltip .widget-tooltiptext {
visibility: hidden;
    text-align: center;
    border-radius: 5px!important;
    white-space: nowrap!important;
    width: auto!important;
    height: 35px!important;
    line-height: 25px!important;
    padding: 5px 10px!important;
    position: absolute;
    z-index: 1;
    top: 13px;
    font-size: 12px!important;
    font-family: 'IBM Plex Sans',sans-serif;
    right: 112%;
    color: #fff;
}
#chat-social .widget-tooltip .widget-tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(29, 36, 62, 0.7) transparent transparent!important;
    left: 100%;
    transform: rotateZ(-180deg);
}
#chat-social .facebook-messager-gv88:hover #widget-btn-facebook .widget-tooltiptext,
#chat-social .zalo-group-gv88:hover #widget-btn-zalo .widget-tooltiptext,
#chat-social .question-popup-gv88:hover #widget-btn-contact_form .widget-tooltiptext,
#chat-social .tawk-to-gv88:hover #widget-btn-tawk_to .widget-tooltiptext {
    visibility: visible;
}
#chat-social .facebook-messager-gv88 a {
    background-image: url(https://cdn.autoads.asia/content/images/widget_icon_messenger.svg)!important;
    background-color: #0084ff!important;
    z-index: 9999;
    z-index: 9999;
    width: 58px;
    /*height: 58px;*/
    height: 50px;
    right: 1px;
    margin-bottom: -1px;
    margin-top: 2px;
    opacity: 0;
}
#chat-social .zalo-group-gv88 a {
    background-image: url(https://cdn.autoads.asia/content/images/widget_icon_zalo.svg)!important;
    background-color: #0068ff!important;
}
#chat-social .question-popup-gv88 a {
        margin-bottom: 7px;

    background-image: url(https://cdn.autoads.asia/content/images/widget_icon_contact_form.svg)!important;
    background-color: #f7a400!important;
}
#chat-social .tawk-to-gv88 a {
    background-image: url(https://cdn.autoads.asia/content/images/widget_icon_tawkto.svg)!important;
    background-color: #03a84e!important;
    opacity: 0;
}
.question-popup a {
    padding: 13px;
    background: #ff4949;
}

@media only screen and (max-width: 768px) and (min-width: 425px){
    .product-grid .grid-item {
        width: auto;
        height: auto;
        margin: 0 20px;
    }
}
.product-grid .owl-nav button {
    position: absolute;
    top: 25%;
    font-size: 72px !important;
    line-height: 72px !important;
    outline: none;
    cursor: pointer;
}

.product-grid .owl-nav button.owl-next {
    right: 15px;
}
.product-grid .owl-nav button.owl-prev {
    left: 0;
}
.navbar-nav.visible-sm{
    display: none;
}
.navbar-brand,
.navbar-nav .icon-header{
    cursor: pointer;
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    .product-grid .owl-nav button.owl-next {
        right: 0;
    }
    .chat-item {
        display: flex;
    }
    .something-strong .grid-item {
        width: 45%;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    /* #chat-social .widget-tooltip a {
        width: 42px;
        height: 42px;
    }
    
    .question-popup a {
        padding: 0px;
    }
    
    .question-popup a svg {
        width: 21px;
        height: 21px;
    } */
    
    div#navbar-nav {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    
    .navbar-expand-lg .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
@media only screen and (max-width: 600px) and (min-width: 320px){
    .navbar-nav.hidden-sm{
        display: none;
    }
    .navbar-nav.visible-sm{
        display: inherit;
    }
}
.header-top .spot-light-box .inner-box{
    padding: 20px;
}
